.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  gap: var(--padding);
  padding: var(--padding);
  width: calc(100% - var(--padding) * 2);

  * {
    text-align: center;
  }

  button {
    margin-top: var(--padding);
    width: 100%;
  }
}
