.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .feed {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: flex-start;
    .endFix {
      min-height: calc(2px + var(--pagination-controls));
    }
  }

  aside {
    width: calc(0.3 * calc(100% - var(--horizontal-whitespace) * 2));
    height: calc(
      100vh - var(--pagination-controls) - var(--nav-height) -
        var(--header-height) - 2px
    );
    position: fixed;
    padding: calc(var(--padding) + 1px) var(--padding);
    padding-left: var(--padding-medium);
    box-sizing: border-box;
    right: calc(1px + var(--horizontal-whitespace));
    .inner {
      padding: var(--padding-medium);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      background: var(--foreground);
      border: 1px solid var(--base-light);
      border-radius: var(--border-radius);
      width: 100%;
      height: 100%;
      gap: var(--padding-medium);

      .recentPostsHeading {
        margin: 0;
        font-size: var(--font-md);
        text-align: center;
      }

      .posts {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 100%;
        margin-bottom: var(--padding);
      }

      .searchForm {
        width: 100%;
        display: flex;
        gap: 2px;
        align-items: center;
        .search {
          flex-grow: 1;
          display: flex;
          align-items: center;
          input {
            flex-grow: 1;
          }
          svg {
            padding: 0 3px;
          }
        }
        .dropdownsContainer {
          display: flex;
          gap: 2px;
          button {
            padding: 2px 4px;
            font-size: var(--font-xs);
          }
          .sortMode {
            min-width: 4.5rem;
          }
        }
      }

      @media (max-width: 1280px) {
        .searchForm {
          flex-direction: column;
          .dropdownsContainer {
            width: 100%;
          }
          .search {
            width: 100%;
          }
        }
      }

      .searchTags {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--padding-small);
        button {
          padding: 0px 4px;
          font-size: var(--font-xs);
          background: var(--tag-selected);
          border: 1px solid var(--text-color);
        }
      }
    }
  }

  .paginationControls {
    width: 100%;
    height: var(--pagination-controls);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: var(--foreground);
    border-top: 1px solid var(--base-light);
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.25rem;

      span {
        font-size: var(--font-lg);
      }
      span:last-of-type {
        font-size: var(--font-md);
      }
    }

    button {
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    aside {
      width: calc(0.35 * calc(100% - var(--horizontal-whitespace) * 2));
    }
    .feed {
      width: 65%;
    }
  }
}
@media (max-width: 350px) {
  .container {
    .dropdownsContainer {
      flex-direction: column;
    }
  }
}
