.container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: max-content;

  .imageTitleContainer {
    width: 100%;
    height: 15rem;
    min-height: 15rem;
    position: relative;
    background-size: cover;
    background-position: center;

    .votesContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color:white;
      font-weight: 600;
      line-height: 0.75;
    }

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      object-position: center;
      border-bottom: 1px solid var(--base-light);
    }

    .text {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      padding: calc(2 * var(--padding));
      box-sizing: border-box;
      filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.66));

      * {
        text-shadow: 0px 2px 1px black;
        color: white;
      }

      .titleDescription {
        display: flex;
        flex-direction: column;
        text-align: left;
        h1,
        h2 {
          margin: 0;
          font-size: 2.25rem;
          line-height: 1;
        }
        h2 {
          font-size: 1.33rem;
        }
      }
    }
  }

  .html {
    padding: calc(2 * var(--padding));
    width: 100%;
    box-sizing: border-box;
    * {
      margin: 0;
    }
    ul,
    ol {
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1.166rem;
    }
    h3 {
      font-size: 1.075rem;
    }
  }

  .comments {
    box-sizing: border-box;
    padding: calc(2 * var(--padding));
    width: 100%;
  }
}
