.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: var(--padding);
  width: calc(100% - var(--padding) * 2);

  hr {
    margin-bottom: 0.5rem;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--padding);
    margin-bottom: var(--padding);
    svg {
      width: var(--font-lg);
      height: var(--font-lg);
    }
    h1 {
      padding: 0;
      margin: 0;
    }
  }

  input {
    display: none;
  }

  .deleteAccountButton {
    background: red;
    color: white;
    font-weight: 600;
    font-size: var(--font-md);
    text-align: center;
    width: 100%;
    border: 1px solid var(--text-color);
  }

  p {
    margin: 0;
    margin: var(--padding) 0;
    line-height: 1;
  }

  button {
    margin-top: var(--padding);
  }
}
