

.container {
  position: fixed;
  right: calc(var(--padding-medium) + var(--horizontal-whitespace));
  bottom: var(--padding-medium);
  border: 1px solid var(--base-medium);
  background: var(--foreground);
  z-index: 99;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.166);

  .chatIconButton {
    color:var(--text-color);
    background: none;
    border: none;
    padding: none;
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .topTray {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-medium);
    border-radius: var(--border-radius-medium);
    color:grey;
    border-bottom: 1px solid var(--base-light);

    .icons {
        display: flex;
    }
  }

  .inner {
    display: flex;
    box-sizing: border-box;
    gap: var(--padding-medium);
    flex-grow: 1;
    padding: var(--padding-medium);

  }
}
