.users {
  height: calc(100% - 2px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 20rem;
  width: 6.5rem;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--base-medium);
  box-sizing: border-box;
  overflow-y: auto;
  .user {
    padding: var(--padding-medium);
    border: none;
    background: none;
    margin: 0;
    border-radius: 0;
    width: 100%;
    position: relative;
    .notifications {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
      color: lime;
      border-radius: 100%;
      text-shadow: 0px 1px 2px black;
      padding: var(--padding-small);
      box-sizing: border-box;
      font-weight: 600;
      bottom:0;
      left:0;
      font-size: var(--font-md);
    }
  }
}

.right {
  width: 12rem;
  min-height: 20rem;
  max-height: 20rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--padding-medium);
  flex-grow: 1;
  max-width: min(66.66vw, 66.66%);

  .messagesAndVideoChat {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--base-medium);

    .messages {
      width: 100%;
      flex-grow: 1;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }
  }
  .messageForm {
    display: flex;
    align-items: center;
    width: 100%;
    input {
      flex-grow: 1;
    }
    input[type="file"] {
      display: none;
    }
    width: 100%;
    box-sizing: border-box;
    gap: 3px;
    position: relative;
  }
}
