.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--padding);
  padding: var(--padding-medium);
  .content {
    flex-grow: 1;
    font-size: var(--font-xs);
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
  }

  textarea {
    max-width: 7.65rem;
    font-size: var(--font-xs);
    height: 5rem;
  }

  .date {
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100%;
    padding: var(--padding);
    span {
      line-height: 0.9;
      font-size: 0.866rem;
      color: var(--base-heavy);
    }
  }
}
