.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--padding);
  padding: var(--padding);
  .content {
    flex-grow: 1;
  }

  .date {
    display: flex;
    flex-direction: column;
    text-align: right;

    span {
      line-height: 0.9;
      font-size: 0.785rem;
    }
  }
}
