@font-face {
  font-family: "Gidole";
  src: url(../public/raleway.regular.ttf);
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Gidole";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea,
button {
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--base-medium);
}
input,
textarea {
  margin: 0;
  background: var(--foreground);
}
input:focus,
textarea:focus {
  outline: 1px solid rgba(0, 128, 255, 0.5);
}
input::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  font-size: var(--font-xs);
}
input {
  width: 0;
}

* {
  color: var(--text-color);
  font-size: var(--font-sm);
  font-family: "Gidole";
}

h1 {
  font-size: var(--font-lg);
}

hr {
  margin: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--base-heavy);
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 50%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 50%,
    transparent 100%
  );
}

button,
.lightButton {
  background: var(--button);
  cursor: pointer;
  color: white;
}
.lightButton {
  color: var(--text-color);
  background: var(--foreground);
}

:root {
  background: #f0f1f3;

  /* Component dimensions */
  --nav-height: 2.4rem;
  --header-height: 4.75rem;
  --pagination-controls: 5rem;

  /* Component & layout colours */
  --foreground: white;
  --background: #f4f4f4;
  --button: rgb(24, 24, 24);
  --nav: rgb(14, 14, 14);
  --header: linear-gradient(
    to bottom,
    rgb(12, 12, 74) 0%,
    rgb(13, 26, 52) 100%
  );
  --tag-selected: rgb(55, 62, 95);

  /* Component & Text Colours */
  --text-color: black;
  --text-color-contrast: white;

  /* Colours - transparent varients for borders, et */
  --base-heavy: rgba(0, 0, 0, 0.666);
  --base-medium: rgba(0, 0, 0, 0.2);
  --base-light: rgba(0, 0, 0, 0.2);
  --base-pale: rgba(0, 0, 0, 0.166);
  --base-heavy-contrast: rgba(255, 255, 255, 0.66);
  --base-medium-contrast: rgba(255, 255, 255, 0.33);
  --base-light-contrast: rgba(255, 255, 255, 0.166);
  --base-pale-contrast: rgba(255, 255, 255, 0.066);

  /* Border radius */
  --border-radius: 4px;
  --border-radius-medium: 3px;
  --border-radius-small: 2px;

  /* Padding/Margin */
  --padding: 4px;
  --padding-medium: 3px;
  --padding-small: 2px;

  /* Whitespace & Dimensions */
  --horizontal-whitespace: 27.5vw;

  /* Font sizes */
  --font-lg: min(6vw, 1.866rem);
  --font-md: min(5vw, 1.066rem);
  --font-sm: min(4.25vw, 0.95rem);
  --font-xs: min(3.6vw, 0.866rem);

  --cross-background: url(../public/crossbackground.png);
}

.darkMode {
  background: #0d0d0d;

  /* Component & layout colours */
  --foreground: rgb(14, 14, 14);
  --background: #0d0d0d;
  --cross-background: url(../public/crossbackground_dark.png);

  --text-color: white;
  --text-color-contrast: black;

  --base-heavy: rgba(255, 255, 255, 0.666);
  --base-medium: rgba(255, 255, 255, 0.08);
  --base-light: rgba(255, 255, 255, 0.05);
  --base-pale: rgba(255, 255, 255, 0.0166);
  --base-heavy-contrast: rgba(0, 0, 0, 0.66);
  --base-medium-contrast: rgba(0, 0, 0, 0.33);
  --base-light-contrast: rgba(0, 0, 0, 0.166);
  --base-pale-contrast: rgba(0, 0, 0, 0.066);
}
