.container {
  width: 100%;
  height: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;

  span {
    height: 2px;
    background: linear-gradient(to top, lightgray 0%, black 100%);
    display: flex;
    border: 1px inset var(--base-light);
    border-radius: 2px;

    span {
      border: none;
      background: lime;
      transition: width 400ms linear;
    }
  }
}
