.container {
  width: 100%;
  margin-bottom: var(--padding);
  display: flex;
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
  input {
    width: 100%;
    line-height: 1;
    height: 1.25rem;
    margin: auto;
  }

  button {
    background: none;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .spinner {
    animation: spin 700ms linear infinite;
  }

  .sendIcon {
    font-size: var(--font-lg);
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
