.container {
  height: calc(33.33% - 1px);
  min-height: calc(33.33% - 1px);
  padding-top: 1px;
  width: 100%;
  display: flex;
  box-sizing: border-box;

  .inner {
    margin: auto;
    height: calc(100% - var(--padding) * 2);
    width: calc(100% - var(--padding) * 2);
    background: var(--foreground);
    border-radius: var(--border-radius);
    border: 1px solid var(--base-light);
    padding: var(--padding-small);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: row;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    .imageContainer {
      max-height: 100%;
      min-height: 100%;
      width: 44.44%;
      min-width: 44.44%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      border-radius: var(--border-radius-medium);
      overflow: hidden;
      box-sizing: border-box;
      border: 1px solid var(--base-light);

      .actionIcons {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        bottom: 0;
        border-top: 1px solid var(--base-medium);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        fill: white;
      }

      img {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        box-sizing: border-box;
        cursor: pointer;
      }
    }

    .textTags {
      padding: 0.5rem;
      width: 100%;
      flex-grow: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      hr {
        border-bottom: 1px solid var(--base-light);
        width: 100%;
        mask-image: linear-gradient(to right, black 0%, transparent 100%);
        -webkit-mask-image: linear-gradient(
          to right,
          black 0%,
          transparent 100%
        );
        margin: var(--padding) 0;
      }

      a {
        font-style: italic;
      }

      h1 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 1.1;
      }
      h3 {
        margin: 3px 0;
        font-weight: 600;
        line-height: 1;
      }
      .userContainer {
        .votesContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          line-height: 0.75;
          svg {
            filter: drop-shadow(0px 1px 1px black);
          }
        }
      }

      .tags {
        gap: var(--padding-small);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: var(--padding-medium) 0;

        .tag,
        .tagSelected {
          font-size: var(--font-xs);
          padding: 0px 4px;
          background: var(--foreground);
          color: var(--text-color);
        }
        .tagSelected {
          color: white;
          background: var(--tag-selected);
          border: 1px solid var(--text-color);
        }
      }
    }
  }
}

.container:nth-child(even) .inner {
  flex-direction: row-reverse;
  text-align: right;
  .textTags {
    text-align: right;
    align-items: flex-end;
    hr {
      mask-image: linear-gradient(to left, black 0%, transparent 100%);
      -webkit-mask-image: linear-gradient(to left, black 0%, transparent 100%);
      margin: var(--padding) 0;
    }

    .tags {
      flex-direction: row-reverse;
    }
  }
}

@media (max-width: 700px) {
  .container {
    .inner {
      .text {
        h1 {
          line-height: 1;
          margin-bottom: 0.125rem;
        }
        h3 {
          line-height: 1;
        }
      }
    }
  }
}

@media (max-height: 900px) {
  .container {
    height: 50%;
    min-height: 50%;
  }
}

.mobileContainer {
  height: calc(66% - 1px);
  min-height: calc(66% - 1px);
  padding-top: 1px;
  width: 100%;
  display: flex;
  box-sizing: border-box;

  .inner {
    margin: auto;
    height: calc(100% - var(--padding) * 2);
    width: calc(100% - var(--padding) * 2);
    background: var(--foreground);
    border-radius: var(--border-radius);
    border: 1px solid var(--base-light);
    padding: var(--padding-small);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    .imageContainer {
      width: 100%;
      min-width: 100%;
      flex-grow: 1;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      border-radius: var(--border-radius-medium);
      overflow: hidden;
      box-sizing: border-box;
      border: 1px solid var(--base-light);

      .actionIcons {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        bottom: 0;
        border-top: 1px solid var(--base-medium);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        fill: white;
      }

      img {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        box-sizing: border-box;
        cursor: pointer;
      }
    }

    .textTags {
      padding: 0.25rem;
      box-sizing: border-box;
      width: 100%;
      flex-grow: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      hr {
        border-bottom: 1px solid var(--base-light);
        width: 100%;
        mask-image: linear-gradient(to right, black 0%, transparent 100%);
        -webkit-mask-image: linear-gradient(
          to right,
          black 0%,
          transparent 100%
        );
        margin: var(--padding) 0;
      }

      h1 {
        margin: 0;
        font-size: 1.166rem;
        font-weight: 600;
        line-height: 1;
      }
      h3 {
        margin: 3px 0;
        font-weight: 600;
        font-size: 0.866rem;
        line-height: 1;
      }
      .userContainer {
        .votesContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          line-height: 0.75;
          svg {
            filter: drop-shadow(0px 1px 1px black);
          }
        }
      }

      .tags {
        gap: var(--padding-small);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: var(--padding-medium) 0;

        .tag,
        .tagSelected {
          font-size: var(--font-xs);
          padding: 0px 4px;
          background: var(--foreground);
          color: var(--text-color);
        }
        .tagSelected {
          color: white;
          background: var(--tag-selected);
          border: 1px solid var(--text-color);
        }
      }
    }
  }
}
