.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  position: relative;
  .top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--padding);
    .content {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding: var(--padding) 0;
      gap: var(--padding);
      input {
        width: 100%;
      }
      .content {
        position: relative;
        flex-grow: 1;
      }
    }
    .icons {
      display: flex;
      flex-direction: column;
      gap:var(--padding);
    }
  }
  .childComments {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    gap: var(--padding) 0;
  }
  .commentForm {
    width: 100%;
    margin: var(--padding) 0;
  }
  .repliesBar {
    padding: 0;
    width: 16px;
    background: none;
    height: calc(100% - 2.166rem - 6px);
    top:calc(2.166rem + 6px);
    position: absolute;
    border: none;
    left: calc(1.0833rem - 8px);
    display: flex;
    justify-content: center;

    span {
      width: 2px;
      background: var(--base-medium);
      height: 100%;
    }
  }
  .repliesBar:hover {
    span {
      background: var(--base-heavy);
    }
  }

  .showRepliesButton {
    width: fit-content;
    background: none;
    border: none;
    font-style: italic;
    padding: 0;
    color:var(--text-color);
  }
}
