.container {
  padding: 0;
  margin: 0;
  line-height: 1;
  border: none;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    line-height: 1;
    width: var(--font-md);
    height: var(--font-md);
    color: var(--text-color);
  }
}
