.container {
  height: 25%;
  min-height: 25%;
  width: 100%;
  display: flex;

  .inner {
    margin: auto;
    height: calc(100% - var(--padding) * 2);
    width: calc(100% - var(--padding) * 2);
    background: var(--foreground);
    border-radius: var(--border-radius);
    border: 1px solid var(--base-light);
    padding: var(--padding);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    flex-direction: row;

    .imageContainer {
      max-height: 100%;
      min-height: 100%;
      width: 33.33%;
      min-width: 33.33%;
      position: relative;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      border-radius: var(--border-radius);
      overflow: hidden;

      .userContainer {
        position: absolute;
        top: var(--padding);
        left: var(--padding);
        z-index: 99;
        filter: drop-shadow(0px 1px 3px black);

        * {
          text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
        }
      }

      .actionIcons {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        bottom: 0;
        border-top: 1px solid var(--base-medium);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        fill: white;
      }

      img {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        box-sizing: border-box;
        cursor: pointer;
      }
    }

    .textTags {
      padding: 0.5rem;
      width: 100%;
      flex-grow: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      hr {
        border-bottom: 1px solid var(--base-light);
        width: 100%;
        mask-image: linear-gradient(to right, black 0%, transparent 100%);
        -webkit-mask-image: linear-gradient(
          to right,
          black 0%,
          transparent 100%
        );
        margin: var(--padding) 0;
      }

      h1 {
        margin: 0;
      }
      h3 {
        margin: 0;
      }

      .tags {
        gap: var(--padding);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: var(--padding) 0;

        .tag {
          border: 1px solid var(--base-heavy);
          padding: 0 var(--padding);
          font-weight: 300;
          background: var(--base-medium);
        }
      }
    }
  }
}

.container:nth-child(even) .inner {
  flex-direction: row-reverse;
  text-align: right;
  .textTags {
    text-align: right;
    align-items: flex-end;
    hr {
      mask-image: linear-gradient(to left, black 0%, transparent 100%);
      -webkit-mask-image: linear-gradient(to left, black 0%, transparent 100%);
      margin: var(--padding) 0;
    }

    .tags {
      flex-direction: row-reverse;
    }
  }
}

@media (max-width: 700px) {
  .container {
    .inner {
      .text {
        h1 {
          line-height: 1;
          margin-bottom: 0.125rem;
        }
        h3 {
          line-height: 1;
        }
      }
    }
  }
}
